<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign Up</h3>

	<div class="btn-group btn-group-justified" ng-init="tab = 1">
		  <div class="btn-group" ng-class="{active:tab === 1}">
		  	  <button type="button" ng-click="tab=1" class="btn btn-default">Kid's Account</button>
		  </div>
		  <div class="btn-group" ng-class="{active:tab === 2}">
		  	  <button type="button" ng-click="tab=2" class="btn btn-default">Collaborator's Account</button>
		  </div>
		  <div class="btn-group" ng-class="{active:tab === 3}">
		   	  <button type="button" ng-click="tab=3" class="btn btn-default">Parent's Account</button>
		  </div>
	</div>

	<br>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off" ng-show="tab === 1">
			<fieldset>
				<div class="form-group">
					<label for="center_name">Center Name</label>
					<input type="text" required id="center_name" name="center_name" class="form-control" data-ng-model="credentials.center_name" placeholder="Center Name">
				</div>
				<div class="form-group">
					<label for="logo_media_id">Logo Media Id</label>
					<input type="text" id="logo_media_id" name="logo_media_id" class="form-control" data-ng-model="credentials.logo_media_id" placeholder="Logo Media Id">
				</div>
				<div class="form-group">
					<label for="invitation_token">Invitation Token</label>
					<input type="text" id="invitation_token" name="invitation_token" class="form-control" data-ng-model="credentials.invitation_token" placeholder="Invitation Token">
				</div>
				<div class="form-group">
					<label for="display_name">Display Name</label>
					<input type="text" id="display_name" name="display_name" class="form-control" data-ng-model="credentials.display_name" placeholder="display_name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="password">
				</div>				
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

		<form name="userForm" data-ng-submit="collaborators_signup()" class="signin form-horizontal" novalidate autocomplete="off" ng-show="tab === 2">
			<fieldset>
				<div class="form-group">
					<label for="invitation_token">Invitation Token</label>
					<input type="text" id="invitation_token" name="invitation_token" class="form-control" data-ng-model="credentials.invitation_token" placeholder="Invitation Token">
				</div>
				<div class="form-group">
					<label for="display_name">Display Name</label>
					<input type="text" id="display_name" name="display_name" class="form-control" data-ng-model="credentials.display_name" placeholder="display_name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="password">
				</div>				
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

		<form name="userForm" data-ng-submit="parents_signup()" class="signin form-horizontal" novalidate autocomplete="off" ng-show="tab === 3">
			<fieldset>
				<div class="form-group">
					<label for="invitation_token">Invitation Token</label>
					<input type="text" id="invitation_token" name="invitation_token" class="form-control" data-ng-model="credentials.invitation_token" placeholder="Invitation Token">
				</div>
				<div class="form-group">
					<label for="display_name">Display Name</label>
					<input type="text" id="display_name" name="display_name" class="form-control" data-ng-model="credentials.display_name" placeholder="display_name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="password">
				</div>				
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>				
	</div>
</section>
